html {
    min-width: 850px;
    min-height: 1000px;
    /* max-width: 1050px; */
}

body {
    /* width: 850px; */
    /* margin: 100 px; */
}

a {
    text-decoration: none;
    color: white;
}

#drawing {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: white;
}

#HtmlMainView {
    display: grid;
    grid-template-columns:900px;
    justify-content: center;
    align-items: center;
}
.chargeInfo {
    display: flex;
    margin-top: 10px;
    max-width: 900px;
    
    /* justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    min-width: 1000px;
    max-width: 1000px; */
    /* margin-right: 10px; */
    /* align-items */
}
#HtmlLogView{
    display: grid;
    grid-template-columns:450px 450px;
    column-gap: 30px; 
    justify-content: center;
    align-items: center;
}
#HtmlLogView #secSaveAlarmBtn,#secSaveEventBtn {
    display: grid;
    justify-content:end
}
.gridHeadng{
    grid-column: 1/span 2;
    background-color: #f0fbf7;
    text-align: center; 
}
#eventDiv,#alarmDiv{
    overflow: auto;
    height: 500px;
    font-size: medium;
    font-weight: 100;
    align-items: center;
    justify-content: center;
}
#heading{
   border:#4404aa;
   font-size: small;
}
.inputStatus {
    padding-right: 30px;
}
.chargerStatus {
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    width: fit-content;
}

.batteryStatus {
    /* padding-left: 30px;
    margin-right: 150px; */
    text-align: center;
}

.inputStatus td,
.inputStatus th,
.batteryStatus td,
.batteryStatus th {
    border: 1px solid #ddd;
    padding: 18px;
    text-align: center;
}

.chargerStatus td,
.chargerStatus th {
    border: 0px solid #ddd;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.inputStatus tr:nth-child(even) {
    background-color: #f2f2f2;
}

.inputStatus tr:nth-child(even) {
    background-color: #f2f2f2;
}

.inputStatus tr:hover {
    background-color: #ddd;
}

.batteryStatus tr:nth-child(even) {
    background-color: #f2f2f2;
}

.batteryStatus tr:nth-child(even) {
    background-color: #f2f2f2;
}

.batteryStatus tr:hover {
    background-color: #ddd;
}

.inputStatus th,
.batteryStatus th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
}

.chargerStatus th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #eef5f2e7;
    color: rgb(16, 15, 15);
}

.chargerStatus tr {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #18392d;
    color: white;
}


.navbar_menu {
    /* width: 300px; */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #263343;
    padding: 8px 12px;
}

.navbar_menu {
    display: flex;
    ;
    list-style: none;
    padding-left: 0;
}

.navbar_menu li {
    padding: 8px 12px;
}

.navbar_menu li:hover {
    background-color: #d49466;
    border-radius: 4px;
}

.navbar_icons {
    list-style: none;
    color: white;
    display: flex;
}

.myCanvas {
    background-color: #eee;
    display: block;
    margin: 0 auto;
}

.footer {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    ;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(216, 201, 201);
    ;
    color: white;
    text-align: center;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #04AA6D;
  color: white;
}
.messageBar{
    color: #4404aa;
}
#statusBar{
    font-size:xx-small; 
    color: rgb(15, 19, 19);
}

/* */
#testRoutinea{
    display: block;
    grid-template-columns:250px 200px ; 
    justify-content: center;
    justify-items: center;
    align-items: center;
}
/* 네트웍 설정 부분*/
.viewSetNetwork{
    display: grid;
    grid-template-columns:250px 200px auto; 
    justify-content: center;
    row-gap: 15px;
}
.cssLblNetwork{
    font-size:medium;
    font-weight: 700;
    color: rgb(9, 11, 83);
}